$scissorsGradient: linear-gradient(to top right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paperGradient: linear-gradient(to top right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rockGradident: linear-gradient(to top right, hsl(349, 71%, 52%), hsl(349, 60%, 56%));
$lizardGradient: linear-gradient(to top right, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$spockGradient: linear-gradient(to top right, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$darkTxt: hsl(229, 25%, 31%);
$scoreTxt: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);
$radialGradient: linear-gradient(to top right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
