// @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap');

@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin background($property) {
  border-radius: 100%;
  padding: 15px;
  position: absolute;
  cursor: pointer;
  width: 120px;

  @if $property == scissors {
    background: $scissorsGradient;
    top: 0;
    right: 190px;
    transform: translate(20px, -20px);
  } @else if $property == paper {
    background: $paperGradient;
    top: 0;
    transform: translate(40px, 130px);
    right: 0;
  } @else if $property == rock {
    background: $rockGradident;
    right: 0;
    transform: translate(-40px, 20px);
    bottom: 0;
  } @else if $property == lizard {
    background: $lizardGradient;
    bottom: 0;
    left: 0;
    transform: translate(30px, 30px);
  } @else if $property == spock {
    background: $spockGradient;
    top: 0;
    left: 0;
    transform: translate(-30px, 100px);
  }
}

%props-style--inner {
  width: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd9d9;
  padding: 20px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

// this styles are only applied when deciding who won and lost
%share-activeStyles {
  width: 100%;
  position: relative;
  transform: translate(0%);
  padding: 25px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

html,
body {
  min-height: 100%;
  height: 100vh;
  width: 100%;
  background: $radialGradient;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}

main {
  width: 800px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > #head {
    border: 3px solid $headerOutline;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
    max-height: 120px;

    > img {
      max-height: 100px;
    }

    > .points-container {
      background-color: #ffffff;
      padding: 5px 20px;
      text-align: center;
      margin: 40px 0;
      border-radius: 5px;

      > p {
        font-size: 18px;
        color: blue;
        font-weight: 600;
        text-transform: uppercase;
      }

      > h1 {
        font-weight: bold;
        color: $darkTxt;
        font-size: 40px;
      }
    }
  }

  .outer-container--scissors {
    @include background(scissors);
    transition: scale 200ms linear;
    animation: 500ms scaleUpDown ease-out 0ms;

    &:hover {
      scale: 1.02;
    }

    .inner-container--scissors {
      @extend %props-style--inner;

      > img {
        width: 100%;
      }
    }
  }

  .outer-container--paper {
    @include background(paper);
    transition: scale 200ms linear;
    animation: 500ms scaleUpDown ease-out 300ms;

    &:hover {
      scale: 1.02;
    }

    .inner-container--paper {
      @extend %props-style--inner;

      > img {
        width: 80%;
      }
    }
  }

  .outer-container--rock {
    @include background(rock);
    transition: scale 200ms linear;
    animation: 500ms scaleUpDown ease-out 600ms;

    &:hover {
      scale: 1.02;
    }

    > .inner-container--rock {
      @extend %props-style--inner;

      > img {
        width: 100%;
      }
    }
  }

  .outer-container--lizard {
    @include background(lizard);
    transition: scale 200ms linear;
    animation: 500ms scaleUpDown ease-out 900ms;

    &:hover {
      scale: 1.02;
    }

    > .inner-container--lizard {
      @extend %props-style--inner;

      > img {
        width: 100%;
      }
    }
  }

  .outer-container--spock {
    @include background(spock);
    transition: scale 200ms linear;
    animation: 500ms scaleUpDown ease-out 1200ms;

    &:hover {
      scale: 1.02;
    }

    > .inner-container--spock {
      @extend %props-style--inner;

      > img {
        width: 80%;
      }
    }
  }
}

section#body {
  width: 450px;
  position: relative;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 100%;
  }
}

@keyframes scaleUpDown {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

.rules {
  border: 1px solid #ffffff;
  color: white;
  text-transform: uppercase;
  padding: 8px 20px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  background: transparent;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: $rockGradident;
  }
}

.winnerDeclarator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;

  .circle {
    background-color: $darkTxt;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}

body.playerActive {
  justify-content: flex-start;

  > main {
    #head {
      margin: 50px 0;
    }

    .outer-container--paper {
      @extend %share-activeStyles;
    }

    .outer-container--scissors {
      @extend %share-activeStyles;
    }

    .outer-container--rock {
      @extend %share-activeStyles;
    }

    .outer-container--lizard {
      @extend %share-activeStyles;
    }

    .outer-container--spock {
      @extend %share-activeStyles;
    }
  }
}

.userPicked,
.computerPicked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  > h2 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.winnerLoserContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  > h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    color: white;
  }

  > button {
    color: $scoreTxt;
    background: white;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

.rulesModal {
  position: relative;
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  gap: 1rem;
  border-radius: 10px;

  > .hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    > h2 {
      text-transform: uppercase;
      font-size: 25px;
      color: $darkTxt;
      font-weight: bold;
    }

    > .iconClose {
      cursor: pointer;
    }
  }
}

.overlay {
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 8888;
}

@media (max-width: 820px) {
  main {
    width: 600px;

    > #head {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .winnerLoserContainer {
    > h1 {
      font-size: 30px;
      text-align: center;
    }
  }

  .winnerDeclarator {
    .circle {
      width: 150px;
      height: 150px;
    }
  }
}

@media (max-width: 620px) {
  main {
    width: 500px;

    > #head {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .winnerLoserContainer {
    > h1 {
      font-size: 20px;
    }
  }

  .winnerDeclarator {
    gap: 1.5rem;

    h2 {
      font-size: 15px;
    }
  }

  .userPicked,
  .computerPicked {
    flex-direction: column-reverse;
  }
}

@media (max-width: 540px) {
  main {
    width: 450px;

    > #head {
      margin-left: 20px;
      margin-right: 20px;

      > img {
        height: 80px;
      }
    }

    .outer-container--scissors {
      transform: translate(10px, -20px);
    }

    .outer-container--paper {
      transform: translate(5px, 110px);
    }

    .outer-container--rock {
      transform: translate(-50px, 35px);
    }

    .outer-container--lizard {
      transform: translate(50px, 35px);
    }
  }

  body.playerActive > main .mobile-outer--container {
    padding: 20px;
  }

  body.playerActive > main .mobile-inner--container {
    padding: 30px;
  }

  section#body {
    > img {
      width: 90%;
    }
  }
}

@media (max-width: 510px) {
  main {
    width: 400px;

    .outer-container--scissors {
      width: 100px;
      padding: 10px;

      > .inner-container--scissors {
        padding: 20px;
      }
    }

    .outer-container--paper {
      transform: translate(-20px, 80px);
      width: 100px;
      padding: 10px;

      > .inner-container--paper {
        padding: 20px;
      }
    }

    .outer-container--rock {
      transform: translate(-80px, 40px);
      width: 100px;
      padding: 10px;

      > .inner-container--rock {
        padding: 20px;
      }
    }

    .outer-container--lizard {
      transform: translate(80px, 40px);

      width: 100px;
      padding: 10px;

      > .inner-container--lizard {
        padding: 20px;
      }
    }

    .outer-container--spock {
      width: 100px;
      transform: translate(20px, 80px);

      > .inner-container--spock {
        padding: 20px;
      }
    }
  }

  section#body {
    > img {
      width: 70%;
    }
  }

  .rulesModal {
    > img {
      width: 320px;
    }
  }

  .winnerDeclarator .circle {
    width: 120px;
    height: 120px;
  }

  body.playerActive > main .mobile-outer--container {
    padding: 15px;
  }

  body.playerActive > main .mobile-inner--container {
    padding: 15px;
  }
}

@media (max-width: 412px) {
  main {
    width: 330px;

    .outer-container--scissors {
      transform: translate(60px, -20px);
      width: 80px;

      > .inner-container--scissors {
        padding: 15px;
      }
    }

    .outer-container--paper {
      width: 80px;
      transform: translate(-20px, 65px);

      > .inner-container--paper {
        padding: 15px;
      }
    }

    .outer-container--rock {
      width: 80px;
      transform: translate(-50px, 35px);

      > .inner-container--rock {
        padding: 15px;
      }
    }

    .outer-container--lizard {
      width: 80px;
      transform: translate(60px, 35px);

      > .inner-container--lizard {
        padding: 15px;
      }
    }

    .outer-container--spock {
      width: 80px;
      padding: 10px;
      transform: translate(20px, 65px);

      > .inner-container--spock {
        padding: 15px;
      }
    }
  }

  section#body {
    width: 330px;

    > img {
      width: 70%;
    }
  }

  .rulesModal {
    > img {
      width: 280px;
    }
  }

  .winnerDeclarator {
    width: auto;
    gap: 1rem;

    .circle {
      height: 100px;
      width: 100px;
    }
  }
}

@media (max-width: 320px) {
  main {
    > #head {
      width: 280px;
    }
  }

  .rulesModal {
    > img {
      width: 200px;
    }
  }
}

#body.hidden,
.overlay.hidden,
.rulesModal.hidden,
.winnerDeclarator.hidden,
h1.hidden,
button.hidden {
  display: none;
}
